@charset "UTF-8";

@import '../variables.scss';
@import '../mixins.scss';

.container {
  display: flex;
  flex-direction: row-reverse;

  @include sp {
    display: block;
    padding-bottom: 60px;
  }
}

.page {
  flex: 1;
}
