@charset "UTF-8";

.content {
  padding: 60px 20px;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 760px;
  height: 40px;
  margin: 0 auto 20px;
  padding: 5px;
  font-size: 1.5rem;
  background: #fff;
  border: solid 2px #c8bdff;
}
